.wager_show a {
   color: #0078f1;
   text-decoration: underline;
}

.content_box_top {
   padding-top: 10px;
   color: #000;
   position: relative;
}

.game_top {
   white-space: nowrap;
   overflow: hidden;
   position: relative;
   width: 100%;
}

.summary_top {
   white-space: nowrap;
   overflow: hidden;
   position: relative;
   width: 100%;
   border-bottom: 1px solid #CCC;
   padding-bottom: 10px;
}

.boxscore .game_top .away_top, .boxscore .game_top .home_top {
   float: left;
   width: 40%;
   white-space: normal;
}

.boxscore .game_top .details_top {
   float: left;
   width: 20%;
   white-space: normal;
}

.boxscore .script_address p {
   margin-left: -45px;
}

.wager_show .details_top .funds_container .spinner {
   display: none;
}

.wager_show .details_top .loading .spinner {
   display: block;
}

.away_top {
   text-align: left;
}

.home_top {
   text-align: right;
}

.team_details {
   display: inline-block;
   margin: 0 10px;
   vertical-align: top;
}

.game_top .line, .game_top .value, .game_top .spread {
   display: block;
}

.teamcity span {
   display: inline-block;
   color: #333;
   font-weight: 200;
   font-size: 16px;
   line-height: 17.5px;
}

.teamname {
   display: block;
   margin-bottom: 10px;
}

.teamname span {
   color: #000;
   font-weight: 600;
   font-size: 24px;
   line-height: 1em;
}

.game_top img {
   height: 100px;
   width: 82.6666px;
   padding: 0 5px;
}

.boxscore .away_top img {
   border-right: 1px solid #CCC;
   padding-right: 5px;
}

.boxscore .home_top img {
   border-left: 1px solid #CCC;
   padding-left: 5px;
}

.game_top .details_top {
   text-align: center;
}

.details_top span {
   display: block;
   font-weight: bold;
}

.game_top .user_top {
   text-align: center;
}

.game_top .boxscore_top {
   overflow: hidden;
   position: relative;
   width: 100%;
   border-bottom: 1px solid #ccc;
}

.boxscore_top .boxscore_linescore {
   margin: 15px auto;
   overflow: hidden;
   width: 80%;
}

.boxscore_top .boxscore_linescore .boxscore_linescore_container {
   float: left;
   min-width: 30%;
   position: relative;
}

.boxscore_linescore_container .table_linescore {
    border: 0;
    margin: 0 auto;
    position: relative;
    width: auto;
}

.boxscore_linescore_container .team {
   padding-right: 15px;
   width: 3em;
   color: #36c;
   font-weight: 600;
   text-transform: uppercase;
}

.boxscore_linescore_container .team a {
   color: #36c;
}

table {
   /*color: #666;*/
   border-collapse: collapse;
   border-spacing: 0;
}

table th {
   font-size: 13px;
   font-weight: 600;
   line-height: 1em;
   border: 0;
   min-width: 25px;
   padding: 6px 0 6px 0;
   text-align: center;
   height: 24px;
}

table .space {
   padding-left: 15px;
   width: 35px;
   background: none !important;
   color: #333;
}

table tbody tr {
   background: none;
   border-bottom: 1px solid #f1f1f1;
   border-top: 1px solid #f1f1f1;
   text-align: right;
   font-size: 16px;
}

table tbody td {
   border: 0;
   min-width: 25px;
   padding: 6px 0 6px 0;
   text-align: center;
   font: normal normal 13px/1em "BentonSans",-apple-system,"Roboto",Helvetica,Arial,sans-serif;
}

.pitching_top {
   border-left: 1px solid #ddd;
   float: left;
   overflow: hidden;
   padding-left: 14px;
   width: auto;
   margin-left: 30px;
   margin-top: 15px;
}

.pitching_top .team {
   text-transform: uppercase;
}

.game_events {
   /*position:relative;
   text-align:center;*/
}

.game_events:after {
   /*content:"";
   position: absolute;
   top: 0;
   bottom: 0;
   left: 50%;
   border-left: 1px solid #000;*/
}

.game_events .score {
   width: 50%;
   padding-top: 0;
   margin: 10px 0;
   box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

.game_events .away {
   float: left;
}

.game_events .home {
   float: right;
}

.game_events .score_content {
   padding: 2.5%;
}

.score .inning {
   margin-bottom: 10px;
   padding: 10px 0;
   padding-left: .8em;
   background-position: 0 0;
   vertical-align: middle;
   border-top: solid 1px #d0d0d0;
   border-bottom: solid 1px #d0d0d0;
   background-color: #eee;
   border-top-color: #b4b4b4;
   font-size: 14px;
   font-weight: 200;
   color: #000;
}

.score img {
   display: inline-block;
   height: 50px;
   border-radius: 6px;
}

.score .details {
   display: inline-block;
   width: 70%;
   vertical-align: top;
}

.home .details {
   margin-left: 15px;
}

.away .details {
   margin-left: 15px;
}

.score .details .description {
   margin: 0;
   margin-bottom: 20px;
}

.score .details .badge {
   border-radius: 3px;
   background-color: #f4f4f4;
   border: 1px solid #838383;
   padding: 5px;
   margin: 0 3px;
}

.game_events_container .logos {
   white-space: nowrap;
   margin-bottom: 20px;
}

.game_events_container .logos .away, .game_events_container .logos .home {
   display: inline-block;
   width: 50%;
   text-align: center;
   white-space: normal;
}

.game_events_container .logos .away img, .game_events_container .logos .home img {
   width: 150px;
   height: 181px;
}

.score_total .away_mini_logo, .score .home_mini_logo {
   width: 20px;
   height: 20px;
   display: inline-block;
   background-size: 20px;
   margin: 0 2px;
}

.score_total span {
   display: inline-block;
   vertical-align: middle;
   font-size: 15px;
   color: #000;
}

/* User */
.user_container {
   width: 75%;
   margin: 5px;
   display: inline-block;
}

.user_container .accepted p {
   font-size: 14px;
   margin: 1.2em 0;
   padding: 1em;
}


