.linescore .linescore_team {
   text-align: center;
}

.linescore .team_top img {
   width: 115px;
   height: 140px;
}

.linescore .team_top .record {
   font-size: 15px;
}

.linescore .details_top {
   color: #414141;
}

.linescore .details_top .header .game_title {
   display: inline-block;
   font-size: 22px;
   font-weight: 200;
   margin: 0 4px;
}

.linescore .details_top .game_date {
   font-size: 15px;
   margin-top: 10px;
}

.linescore .details_top .time_location {
   font-size: 16px;
   margin-top: 10px;
   font-weight: bold;
}
