.linescore .linescore_team {
   text-align: center;
}

.linescore .details_top {
   float: left;
   width: 40%;
}

.wager_show .script_address {
   margin: 10px 0;
}

.wager_show .qr_container {
   width: 150px;
   margin: 0 auto;
   margin-bottom: 5px;
}

.linescore .script_address p, .boxscore .script_address p {
   font-size: 12px;
   font-weight: 100;
}

.linescore .team_top {
   float: left;
   width: 30%;
}

.linescore .team_top img {
   width: 115px;
   height: 140px;
}

.linescore .team_top .record {
   font-size: 15px;
}

.linescore .accept_button {
   font-size: 12px;
}

.linescore .user_container .accepted p {
   font-size: 12px;
   margin: 1.2em 0;
   padding: 1em;
}

.linescore .details_top {
   color: #414141;
}

.linescore .details_top .header .game_title {
   display: inline-block;
   font-size: 22px;
   font-weight: 200;
   margin: 0 4px;
}

.linescore .details_top .game_date {
   font-size: 15px;
   margin-top: 10px;
}

.linescore .details_top .time_location {
   font-size: 16px;
   margin-top: 10px;
   font-weight: bold;
}

.linescore .pitchers {
   white-space: nowrap;
}

.linescore .probable_pitcher {
   display: inline-block;
   width: 50%;
   white-space-collapsing: discard;
   text-align: center;
   padding: 20px 0;
}

.linescore .probable_pitcher img {
   width: 90%;
   margin: 0 auto 15px auto;
}

.linescore .probable_pitcher h5, .linescore .probable_pitcher p {
   text-align: left;
   padding: 0 5%;
}

.linescore h5 {
   font-size: 18px;
   font-weight: bold;
   color: #000;
   margin: 0;
   padding: 0;
}

.linescore p {
   font-size: 16px;
   font-weight: 200;
   margin: 0;
   padding: 0;
}
