.content_box_top {
   padding: 10px 0;
   color: #000;
}

.game_top {
   white-space: nowrap;
   overflow: hidden;
   position: relative;
   width: 100%;
}

.summary_top {
   white-space: nowrap;
   overflow: hidden;
   position: relative;
   width: 100%;
   border-bottom: 1px solid #CCC;
   padding-bottom: 10px;
}

.game_top .away_top, .game_top .home_top, .game_top .details_top {
   float: left;
   width: 33.3333%;
   white-space: normal;
   /*background-color: grey;*/
}

.away_top {
   text-align: left;
}

.home_top {
   text-align: right;
}

.team_details {
   display: inline-block;
   margin: 0 10px;
   vertical-align: top;
}

.game_top .line, .game_top .value, .game_top .spread {
   display: block;
}

.teamcity span {
   display: inline-block;
   color: #333;
   font-weight: 200;
   font-size: 16px;
   line-height: 17.5px;
}

.teamname {
   display: block;
   margin-bottom: 10px;
}

.teamname span {
   color: #000;
   font-weight: 600;
   font-size: 24px;
   line-height: 1em;
}

.game_top img {
   height: 100px;
   width: 100px;
}

.away_top img {
   border-right: 1px solid #CCC;
   padding-right: 5px;
}

.home_top img {
   border-left: 1px solid #CCC;
   padding-left: 5px;
}

.game_top .details_top {
   text-align: center;
}

.details_top span {
   display: block;
}

.game_top .user_top {
   text-align: center;
}

.game_top .boxscore_top {
   overflow: hidden;
   position: relative;
   width: 100%;
}

.boxscore_top .linescore {
   margin: 15px auto;
   overflow: hidden;
   width: 74%;
}

.boxscore_top .linescore .linescore_container {
   float: left;
   min-width: 30%;
   position: relative;
}

.linescore_container .table_linescore {
    border: 0;
    margin: 0 auto;
    position: relative;
    width: auto;
}

.linescore_container .team {
   padding-right: 15px;
   width: 3em;
   color: #36c;
   font-weight: 600;
}

.linescore_container .team a {
   color: #36c;
}

table {
   /*color: #666;*/
   border-collapse: collapse;
   border-spacing: 0;
}

table th {
   font-size: 13px;
   font-weight: 600;
   line-height: 1em;
   border: 0;
   min-width: 25px;
   padding: 6px 0 6px 0;
   text-align: center;
   height: 24px;
}

table .space {
   padding-left: 15px;
   width: 35px;
   background: none !important;
   color: #333;
}

table tbody tr {
   background: none;
   border-bottom: 1px solid #f1f1f1;
   border-top: 1px solid #f1f1f1;
   text-align: right;
   font-size: 16px;
}

table tbody td {
   border: 0;
   min-width: 25px;
   padding: 6px 0 6px 0;
   text-align: center;
   font: normal normal 13px/1em "BentonSans",-apple-system,"Roboto",Helvetica,Arial,sans-serif;
}

