<div class="lichess_overboard game_config game_config_hook" id="over">
   <a href="/" class="close" title="Cancel">
    <i class="fa fa-times"></i>
   </a>
   <h2>Bet with a friend</h2>
   <form action="/setup/friend" method="POST" id="friendBet" novalidate="novalidate">
      <div class="select_game">
        <select id="selectGame">
          <option value="">Select a game</option>
          {% for game in games %}
            <option id="{{game.id}}"
                    value="{{game.id}}"
                    data-homename="{{game.home_team_name}}"
                    data-homeid="{{game.home_team_id}}"
                    data-awayname="{{game.away_team_name}}"
                    data-awayid="{{game.away_team_id}}"
                    time-date="{{game.time_date}}"
            >
              {{game.away_team_name}} @ {{game.home_team_name}}
            </option>
          {% endfor %}
        </select>
      </div> <!-- team_choice -->
      <div class="select_team buttons">
         <group class="radio">
            <div>
              <input type="radio" id="team_0" name="team" value="">
              <label class="required" for="team_0"></label>
            </div>
            <div>
              <input type="radio" id="team_1" name="team" value="">
              <label class="required" for="team_1"></label>
            </div>
         </group>
      </div> <!-- team_choice -->
      <div class="money_choice slider">
         <label for="money">
          <i class="fa fa-usd"></i>
         </label>
         <input type="number" data-type="range" name="money" id="money" value="50" min="1" max="100" class="ui-shadow-inset ui-body-inherit ui-corner-all ui-slider-input">
         <input type="range" name="money" id="slidermoney" value="50" min="1" max="100">
      </div>
      <div class="spread_choice slider">
         <label for="spread">
          Spread:
         </label>
         <input type="number" data-type="range" name="spread" id="spread" value="0" min="-9.5" max="9.5" class="ui-shadow-inset ui-body-inherit ui-corner-all ui-slider-input">
         <input type="range" name="spread" id="sliderspread" value="0" min="-9.5" max="9.5">
      </div>
      <div class="line_choice slider">
         <label for="line">
          Line:
         </label>
         <input type="number" data-type="range" name="line" id="line" value="0" min="-10000" max="10000" class="ui-shadow-inset ui-body-inherit ui-corner-all ui-slider-input">
         <input type="range" name="line" id="sliderline" value="0" min="-10000" max="10000">
      </div>

      <div class="passphrase">
        <input type="text" class="passphrase_input" placeholder="Wallet passphrase" autofocus="true" id="passphrase">
      </div>
      <p id="betStatus">SELECT A TEAM</p>

      <div class="hidden" id="friend_loading">
        {% with width=50, height=50 %}
            {% include 'setup/loading.html' %}
        {% endwith %}
      </div>

      <button data-hint="Submit bet" type="submit" class="submit_bet button hint--bottom" name="color" value="random">
        Create bet
      </button>
   </form>
</div>

<script type="text/javascript">
  var user_wallet_seed = "{{user_wallet_seed}}";
</script>
