.content_box.user_profile {
   padding: 0;
}

.user_profile .passphrase_form_container {
   margin-bottom: 20px;
   padding: 20px 24px 50px 24px;
}

.user_profile #passphrase .passphrase_input {
   width: 100%;
   margin-bottom: 20px;
   font-size: 14px;
}

.user_profile #passphrase .button_container {
   text-align: center;
}

.user_profile #passphrase .button_container button {
   padding: 10px 35px;
}

.user_profile .profile_header {
   background-color: #2E2B44;
   padding: 12px 0;
   color: #FFF;
   display: flex;
   justify-content: space-between;
}

.user_profile .profile_header .header_balance {
   display: flex;
   justify-content: center;
   cursor: pointer;
   width: 90%;
   margin-left: 10%;
}

.user_profile .profile_header .header_balance .amount {
   font-size: 32px;
   font-family: monospace,'Noto Sans','Lucida Grande';
}

.user_profile .profile_header .header_balance.btc .currency:after {
   content: "BTC";
}

.user_profile .profile_header .header_balance.usd .currency:after {
   content: "USD";
}

.user_profile .profile_header .header_refresh {
   cursor: pointer;
   width: 50px;
   padding-top: 12px;
   text-align: center;
   margin-bottom: 5px;
   font-size: 15px;
}

.user_profile .tabs {
   background-color: #464368;
   color: #FFF;
   display: flex;
   justify-content: space-between;
}

.user_profile .tabs .tab {
   cursor: pointer;
   display: block;
   padding-bottom: 10px;
   padding-top: 10px;
   width: 100%;
   text-align: center;
   color: #FFF;
   font-size: 16px;
   opacity: 0.2;
}

.user_profile .tabs .tab:hover {
   opacity: 0.8;
}

.user_profile .tabs .tab.active {
   border-bottom: 4px solid #858DF0;
   opacity: 1.0;
}

.user_profile .tabs .tab .tab_icon {
   display: block;
   margin: 0 auto;
   margin-top: 2px;
   margin-bottom: 5px;
}

.user_profile .tabs .tab .tab_text {
   font-size: 14px;
   font-weight: 100;
}

.user_profile .wallet_content {
   display: none;
}

.user_profile .wallet_content.current {
   display: block;
}

.user_profile .wallet_content.receive .qr_container {
   width: 150px;
   margin: 0 auto;
   margin-bottom: 5px;
}

.user_profile .wallet_content.receive #address {
   text-align: center;
}

.user_profile #history .no_tx {
   text-align: center;
   margin: 50px;
}

.user_profile #history .no_tx .icon i {
   font-size: 50px;
}

.user_profile #history .no_tx h3 {
   font-size: 30px;
}

.user_profile #history .transactions_container h3 {
   text-align: center;
   font-size: 20px;
}

.user_profile #history .transactions_container .tx {
   margin-bottom: 15px;
   white-space: nowrap;
   padding: 20px;
   border-bottom: 1px solid #ccc;
}

.tx .tx_left {
   width: 25%;
}

.tx .tx_right {
   width: 75%;
}

.tx .tx_left {
   display: inline-flex;
   -webkit-box-align: center;
   align-items: center;
}

.tx .tx_left .tx_date, .tx .tx_left .icon {
   display: inline-block;
   vertical-align: middle;
}

.tx .tx_left .tx_date {
   font-size: 18px;
   font-weight: 100;
   line-height: 1.4;
   text-transform: uppercase;
}

.tx .tx_left .icon {
   margin: 0 30px;
}

.tx .tx_left .tx_date span {
   display: block;
}


.tx_left .msg, .tx_left .confirmations {
   display: block;
}

.tx .tx_right {
   display: inline-flex;
   -webkit-box-align: center;
   align-items: center;
   -webkit-box-flex: 1;
   flex: 1;
   -webkit-box-pack: justify;
   justify-content: space-between;
}

.tx .tx_right .tx_detail {
   max-width: 200px;
}

.tx .tx_right .tx_detail .msg, .tx .tx_right .tx_detail .confirmation {
   display: block;
}

.tx .tx_right .tx_amount {
   display: flex;
   -webkit-box-pack: end;
   justify-content: flex-end;
   text-align: right;
}

.tx .tx_right .tx_amount .tx_amount_wrapper {
   display: flex;
   -webkit-box-orient: vertical;
   -webkit-box-direction: normal;
   flex-direction: column;
   -webkit-box-pack: center;
   justify-content: center;
}

.tx .tx_right .tx_detail .msg {
   font-size: 16px;
   font-weight: 500;
   color: #1e2f3e;
}

.tx .tx_right .tx_amount .amount_btc {
   font-size: 16px;
   font-weight: 500;
   color: #1e2f3e;
}

/* Send */
.user_profile #send .send_container {
   padding: 10px 50px;
}

.user_profile #send form .input_group {
   margin-top: 10px;
   position: relative;
}

.user_profile #send form .input_group.usd_group  {
   margin-top: 0px;
}

.user_profile #send form .send_address, .user_profile #send form .send_amount {
   margin-bottom: 20px;
}

.user_profile #send form label {
   color: #000;
   cursor: pointer;
   display: block;
   flex: 1;
}

.user_profile #send form input[type=text] {
   position: relative;
   padding: 10px;
   padding-left: 30px;
   margin: 0;
   border-radius: 0;
   border: 1px solid #CCCDC8;
   background-color: #FFF;
   height: 25px;
   line-height: 24px;
   font-size: 16px;
   width: 100%;
   vertical-align: top;
   outline: 0;
   -webkit-appearance: none;
   color: #2E2B44;
   text-align: left;
}

.user_profile #send form #send_usd_amount {
   /*border-top: none;*/
}

.user_profile #send form input[type=text]:focus {
   outline: 0;
   border: 1px solid #58A1FF;
}

.user_profile #send form #send_btc_amount {
   border-top-right-radius: 2px;
   border-top-left-radius: 2px;
}

.user_profile #send form #send_usd_amount {
   border-bottom-right-radius: 2px;
   border-bottom-left-radius: 2px;
}

.user_profile #send form .currency {
   position: absolute;
   z-index: 500;
   cursor: pointer;
   display: block;
   text-align: right;
   font-size: 18px;
   right: 0px;
   top: 11px;
   opacity: 0.4;
   font-family: "Futura";
}

.user_profile #send form .moniker {
   position: absolute;
   z-index: 500;
   cursor: pointer;
   display: block;
   text-align: left;
   font-size: 18px;
   left: 10px;
   top: 11px;
   opacity: 0.4;
   font-family: "Futura";
}

.user_profile #send form .button_container {
   width: 50%;
   margin: 30px auto;
}

.user_profile #send form .button_container button {
   width: 100%;
   padding: 10px;
}





