<div class="content_box no_padding wager_show linescore">
   <div class="lichess_overboard">
      <p id="updated_res">Assiging your public key</p>
      {% with width=100, height=100 %}
          {% include 'setup/loading.html' %}
      {% endwith %}
   </div>
   <div class="content_box_top">
      <div class="game_top">
         <div class="summary_top">
            <div class="away_top team_top">
               <div class="linescore_team">
                  <img src="http://mlb.mlb.com/mlb/images/team_logos/124x150/{{game.data.game.away_file_code}}@2x.png">
                  <div class="record">
                     ({{game.data.game.away_win}}-{{game.data.game.away_loss}})
                  </div>
                  <div class="user_container user_away">
                     {% if wager.away_id %}
                        <div class="accepted">
                           <p>{{wager.away_id}}</p>
                        </div>
                     {% else %}
                        <div class="not_accepted">
                           <form class="accept_wager" action="/wager/{{wager.id}}">
                              <button class="accept_button" type="submit">Take the {{game.data.game.away_team_name}}</button>
                           </form>
                        </div>
                     {% endif %}
                  </div>
               </div>
            </div>
            <div class="details_top">
               <div class="header">
                  <span class="game_title">{{game.data.game.away_team_name}}</span>
                  <span class="game_title">@</span>
                  <span class="game_title">{{game.data.game.home_team_name}}</span>
               </div>
               <div class="game_date">
                  {{game.data.game.original_date|pretty_date}}
               </div>
               <div class="time_location">
                  {{game.data.game.time}} {{game.data.game.ampm}} ET • {{game.data.game.venue}}
               </div>
               {% if wager.script_address %}
                  <div class="script_address">
                     <div class="qr_container">
                        <div id="qrcode"></div>
                     </div>
                     <p>
                        <a class="script_address_link" href="https://blockexplorer.com/address/{{wager.script_address}}" target="_blank">
                           {{wager.script_address}}
                        </a>
                     </p>
                  </div>
               {% endif %}
            </div>
            <div class="home_top team_top">
               <div class="linescore_team">
                  <img src="http://mlb.mlb.com/mlb/images/team_logos/124x150/{{game.data.game.home_file_code}}@2x.png">
                  <div class="record">
                     ({{game.data.game.home_win}}-{{game.data.game.home_loss}})
                  </div>
                  <div class="user_container user_home">
                     {% if wager.home_id %}
                        <div class="accepted">
                           <p>{{wager.home_id}}</p>
                        </div>
                     {% else %}
                        <div class="not_accepted">
                           <form class="accept_wager" action="/wager/{{wager.id}}" method="post">
                              <button class="accept_button" type="submit">Take the {{game.data.game.home_team_name}}</button>
                           </form>
                        </div>
                     {% endif %}
                  </div>
               </div>
            </div>
         </div> <!-- summary_top -->
      </div> <!-- game_top -->
   </div> <!-- content_box_top -->
   <div class="pitchers">
      <div class="away_probable_pitcher probable_pitcher">
         <img src="http://mlb.mlb.com/images/players/525x330/alt/{{game.data.game.away_probable_pitcher.id}}.jpg">
         <h5>
            {{game.data.game|probable_pitcher('away')}}
         </h5>
         <p>
            <span class="stat">
               {{game.data.game.away_probable_pitcher.wins}}-{{game.data.game.away_probable_pitcher.losses}}
            </span>
            <span class="stat">|</span>
            <span class="stat">
               {{game.data.game.away_probable_pitcher.era}} ERA
            </span>
         </p>
      </div>
      <div class="home_probable_pitcher probable_pitcher">
         <img src="http://mlb.mlb.com/images/players/525x330/alt/{{game.data.game.home_probable_pitcher.id}}.jpg">
         <h5>
            {{game.data.game|probable_pitcher('home')}}
         </h5>
         <p>
            <span class="stat">
               {{game.data.game.home_probable_pitcher.wins}}-{{game.data.game.home_probable_pitcher.losses}}
            </span>
            <span class="stat">|</span>
            <span class="stat">
               {{game.data.game.home_probable_pitcher.era}} ERA
            </span>
         </p>
      </div>
   </div>
</div> <!-- content_box -->

<script type="text/javascript">
   var deadline = "{{wager.time_date}}";
   $(document).ready(function() {
      $("#qrcode").qrcode({
         "size": 150,
         "fill": '#000',
         "render": "div",
         "text": "{{wager.script_address}}",
         "label": '{{wager.script_address}}',
      });
   });
</script>

