{% extends "layout.html" %}

{% block content %}
   <div class="content_box sign">
      <div class="teams">
         <div class="away team">
            <img src="/static/images/mlb_teams/mlb_{{game.data.boxscore.away_team_code}}.png">
            <span class="score">
               {{game.data.boxscore.linescore.away_team_runs}}
            </span>
         </div>
         <div class="home team">
            <img src="/static/images/mlb_teams/mlb_{{game.data.boxscore.home_team_code}}.png">
            <span class="score">
               {{game.data.boxscore.linescore.home_team_runs}}
            </span>
         </div>
      </div>
      <form id="sign_passphrase" autocomplete="off">
         <input type="text" class="passphrase_input" placeholder="Enter wallet passhrase" autofocus="true">
         <div class="button_container">
            <button type="submit" class="submit_bet button hint--bottom" name="color" value="random">
            Enter passphrase
            </button>
         </div>
      </form>
   </div>

   <script type="text/javascript">
      var tx_hex = "{{output_transaction.hex}}";
      var home_derive_index = "{{wager.home_derive_index}}";
      var away_derive_index = "{{wager.away_derive_index}}";
      var away_seed = "{{wager.away_user().wallet_seed}}";
      var home_seed = "{{wager.home_user().wallet_seed}}";
   </script>
{% endblock %}


