<ul>
   {% for wager in wagers %}
      <li>
         ID:
         <a href="/wager/{{wager.id}}">{{wager.id}}</a>
      </li>
      <li>Time now: {{wager.time_date}}</li>
      <li>Time date: {{wager.time_date}}</li>
      <li>BTC Price: {{wager.btc_stamp}}</li>
      <li>Author: {{wager.author_id}}</li>
      <li>Acceptor: {{wager.acceptor_id}}</li>
      <li>Home ID: {{wager.home_id}}</li>
      <li>Away ID: {{wager.away_id}}</li>
      <li>Home Pubkey: {{wager.home_pubkey}}</li>
      <li>Away Pubkey: {{wager.away_pubkey}}</li>
      <li>Server Pubkey: {{wager.server_pubkey}}</li>
      <li>Game ID: {{wager.game_id}}</li>
      <li>Value: {{wager.value}}</li>
      <li>Line: {{wager.line}}</li>
      <li>Spread: {{wager.spread}}</li>
      <li>Original side: {{wager.original_side}}</li>
      <li>Public: {{wager.public}}</li>
      <li>Script Address: {{wager.script_address}}</li>
      <li>Script Hex: {{wager.script_hex}}</li>
   {% endfor %}
</ul>
