{% extends "layout.html" %}

{% block content %}
   <div class="content_box no_padding wager_show">
      <div class="content_box_top">
         <div class="game_top">
            <div class="summary_top">
               <div class="away_top">
                  <img src="/static/images/mlb_teams/{{game.data.boxscore.away_team_code}}.png">
                  <div class="team_details">
                     <span class="teamcity">
                        <span>{{game.data.boxscore.away_fname|city}}</span>
                     </span>
                     <span class="teamname">
                        <span>{{game.data.boxscore.away_fname|team_name}}</span>
                     </span>
                     {% if wager.original_side == 'away' %}
                        <span class="spread">
                           <span>{{wager.spread}}</span>
                        </span>
                        <span class="line">
                           {% if wager.line > 0 %}
                              <span>+{{wager.line|int}}</span>
                           {% else %}
                              <span>-{{wager.line|int}}</span>
                           {% endif %}
                        </span>
                        <span class="value">
                           <span>
                              ${{wager.value}} to win ${{wager|winnings}}</span>
                        </span>
                     {% else %}
                        <span class="spread">
                           <span>{{wager.spread|oppo}}</span>
                        </span>
                        <span class="line">
                           {% if wager.line < 0 %}
                              <span>+{{wager.line|int}}</span>
                           {% else %}
                              <span>-{{wager.line|int}}</span>
                           {% endif %}
                        </span>
                        <span class="value">
                           <span>
                              ${{wager.value}} to win ${{wager|winnings}}</span>
                        </span>
                     {% endif %}
                  </div>
               </div>
               <div class="details_top">
                  <span class="gametime_top">8:40 PM CT</span>
               </div>
               <div class="home_top">
                  <div class="team_details">
                     <span class="teamcity">
                        <span>{{game.data.boxscore.home_fname|city}}</span>
                     </span>
                     <span class="teamname">
                        <span>{{game.data.boxscore.home_fname|team_name}}</span>
                     </span>
                     {% if wager.original_side == 'home' %}
                        <span class="spread">
                           <span>{{wager.spread}}</span>
                        </span>
                        <span class="line">
                           {% if wager.line > 0 %}
                              <span>+{{wager.line|int}}</span>
                           {% else %}
                              <span>-{{wager.line|int}}</span>
                           {% endif %}
                        </span>
                        <span class="value">
                           <span>
                              ${{wager.value}} to win ${{wager|winnings}}</span>
                        </span>
                     {% else %}
                        <span class="spread">
                           <span>{{wager.spread|oppo}}</span>
                        </span>
                        <span class="line">
                           {% if wager.line < 0 %}
                              <span>+{{wager.line|int}}</span>
                           {% else %}
                              <span>-{{wager.line|int}}</span>
                           {% endif %}
                        </span>
                        <span class="value">
                           <span>
                              ${{wager|winnings}} to win ${{wager.value}}</span>
                        </span>
                     {% endif %}
                  </div>
                  <img src="/static/images/mlb_teams/{{game.data.boxscore.home_team_code}}.png">
               </div>
            </div> <!-- summary_top -->
            <div class="boxscore_top">
               <div class="linescore">
                  <div class="linescore_container">
                     <table cellspacing="0" class="table_linescore">
                        <thead>
                           <tr class="periods">
                              <th class="team"></th>
                              <th>1</th>
                              <th>2</th>
                              <th>3</th>
                              <th>4</th>
                              <th>5</th>
                              <th>6</th>
                              <th>7</th>
                              <th>8</th>
                              <th>9</th>
                              <th class="space">R</th>
                              <th>H</th>
                              <th>E</th>
                           </tr>
                        </thead>
                       <tbody>
                           <tr>
                              <td class="team">
                                 <a target="_blank" href="">
                                 {{game.data.boxscore.away_team_code}}
                                 </a>
                              </td>
                              {% for inning in game.data.boxscore.linescore.inning_line_score %}
                                    <td>{{inning.away}}</td>
                              {% endfor %}
                              <td class="space strong">{{ game.data.boxscore.linescore.away_team_runs }}</td>
                                 <td class="strong">{{game.data.boxscore.linescore.away_team_hits}}</td>
                                 <td class="strong">{{game.data.boxscore.linescore.away_team_errors}}</td>
                           </tr>
                           <tr>
                              <td target="_blank" class="team">
                                 <a href="">
                                 {{game.data.boxscore.home_team_code}}
                                 </a>
                              </td>
                                 {% for inning in game.data.boxscore.linescore.inning_line_score %}
                                    <td>{{inning.home}}</td>
                                 {% endfor %}
                              <td class="space strong">
                                 {{ game.data.boxscore.linescore.home_team_runs }}
                              </td>
                                <td class="strong">
                                 {{game.data.boxscore.linescore.home_team_hits}}
                                </td>
                                <td class="strong">{{game.data.boxscore.linescore.home_team_errors}}</td>
                           </tr>
                       </tbody>
                   </table>
                  </div> <!-- linescore_container -->
                  <div class="pitching_top">
                     <p>
                        <span class="team">{{game.data.boxscore.away_team_code}}:</span>
                        <a href="">{{game.data.boxscore.pitching[0].pitcher[0].name}}</a>
                        <span class="record">({{game.data.boxscore.pitching[0].pitcher[0].w}}-{{game.data.boxscore.pitching[0].pitcher[0].l}}, {{game.data.boxscore.pitching[0].pitcher[0].era}})</span>
                     </p>
                     <p>
                        <span class="team">{{game.data.boxscore.home_team_code}}:</span>
                        <a href="">{{game.data.boxscore.pitching[1].pitcher[0].name}}</a>
                        <span class="record">({{game.data.boxscore.pitching[1].pitcher[0].w}}-{{game.data.boxscore.pitching[1].pitcher[0].l}}, {{game.data.boxscore.pitching[1].pitcher[0].era}})</span>
                     </p>
                  </div>
               </div> <!-- linescore -->
            </div>  <!-- boxscore_top -->
         </div> <!-- game_top -->
      </div> <!-- content_box_top -->
      <div class="game_events cf" id="game_events">
         {% include 'setup/loading.html' %}
      </div>
   </div> <!-- content_box -->
{% endblock %}
