{% extends "layout.html" %}

{% block content %}
<div class="content_box small_box">
   <div class="alternative">
      Already have an account?
      <a href="/user/signin" class="button">
         <i class="fa fa-sign-in"></i>
         Sign in
      </a>
   </div>
   <div class="signup_box">
      <h1 class="zhe_title">Register</h1>
      <form action="/user/signup" method="post" id="user_signup">
         {{ m.render_field(form.email) }}
         {{ m.render_field(form.payout_address) }}
         {{ m.render_field(form.password) }}
         {{ m.render_field(form.confirm) }}
         {{ m.render_field(form.wallet_seed) }}
         {% with width=100, height=100, message="Generating passphrase" %}
            {% include 'setup/loading.html' %}
         {% endwith %}
         <div id="passphrase" class="hidden">
            <h3>
               <i class="fa fa-exclamation-triangle" aria-hidden="true"></i>
               Your Wallet Passphrase
               <i class="fa fa-exclamation-triangle" aria-hidden="true"></i>
            </h3>
            <p class="passphrase"></p>
            <p class="passphrase_warning">
               Your passphrase will not be shown again.
               Without it you will lose access to your wallet.
            </p>
            <p class="passphrase_disclosure">
               ZeroHouseEdge never knows your passphrase and only stores an encrypted seed. We never have control over your wallet and your funds.
            </p>
            <div class="passphrase_accept">
               <input type="checkbox" id="passhrase_checkbox">
               <span>
                  I have written down or otherwise securely stored my passphrase
               </span>
            </div>
         </div>
         {{ form.csrf_token }}
         <button type="submit" class="submit button">
            <i class="fa fa-sign-in"></i>
            Register
         </button>
      </form>
   </div>
</div>
{% endblock %}
