html, body {
   font-family: 'Noto Sans', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
   background: #eee;
   background-image: linear-gradient(to bottom,#d7d7d7 0%,#eeeeee 116px);
   overflow-x: hidden;
   cursor: default;
   color: #707070;
   font-size: 12px;
}

h2 {
   font-weight: normal;
}

a {
  color: #747474;
  text-decoration: none;
  cursor: pointer;
}

a.button, .button {
   font-weight: bold;
   background: linear-gradient(to bottom,rgba(245,245,245,1) 0%,rgba(240,240,240,1) 100%);
   text-shadow: 0 1px 0 #FFF;
   color: #848484;
   border-radius: 2px;
   border-style: solid;
   border-width: 1px;
   border-color: #e2e2e2;
   white-space: nowrap;
   text-decoration: none!important;
   cursor: pointer;
   font-size: 15px;
   padding: 5px;
}

.button.active {
   color: #fff!important;
   text-shadow: 0 1px 0 #000!important;
   background: #d85000!important;
   border-color: #b84400!important;
   box-shadow: 0 3px 4px rgba(0,0,0,0.15) inset!important;
}

.strong {
  font-weight: bold;
}

.hidden {
  display: none;
}

/* Slider */
input[type=range] {
  -webkit-appearance: none;
  margin: 18px 0;
}
input[type=range]:focus {
  outline: none;
}
input[type=range]::-webkit-slider-runnable-track {
   width: 100%;
   height: 8.4px;
   cursor: pointer;
   animate: 0.2s;
   color: #fff!important;
   text-shadow: 0 1px 0 #000!important;
   background: #d85000!important;
   border-color: #b84400!important;
   box-shadow: 0 3px 4px rgba(0,0,0,0.15) inset!important;
   background:#d85000;
   border-radius: 1.3px;
}
input[type=range]::-webkit-slider-thumb {
   height: 20px;
   width: 20px;
   cursor: pointer;
   -webkit-appearance: none;
   margin-top: -7px;
   background: linear-gradient(to bottom,rgba(245,245,245,1) 0%,rgba(240,240,240,1) 100%);
   text-shadow: 0 1px 0 #FFF;
   color: #848484;
   border-style: solid;
   border-width: 1px;
   border-color: #e2e2e2;
}
input[type=range]:focus::-webkit-slider-runnable-track {
  background: #367ebd;
}
input[type=range]::-moz-range-track {
  width: 100%;
  height: 8.4px;
  cursor: pointer;
  animate: 0.2s;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  background: #3071a9;
  border-radius: 1.3px;
  border: 0.2px solid #010101;
}
input[type=range]::-moz-range-thumb {
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  border: 1px solid #000000;
  height: 36px;
  width: 16px;
  border-radius: 3px;
  background: #ffffff;
  cursor: pointer;
}
input[type=range]::-ms-track {
  width: 100%;
  height: 8.4px;
  cursor: pointer;
  animate: 0.2s;
  background: transparent;
  border-color: transparent;
  border-width: 16px 0;
  color: transparent;
}
input[type=range]::-ms-fill-lower {
  background: #2a6495;
  border: 0.2px solid #010101;
  border-radius: 2.6px;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
}
input[type=range]::-ms-fill-upper {
  background: #3071a9;
  border: 0.2px solid #010101;
  border-radius: 2.6px;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
}
input[type=range]::-ms-thumb {
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  border: 1px solid #000000;
  height: 36px;
  width: 16px;
  border-radius: 3px;
  background: #ffffff;
  cursor: pointer;
}
input[type=range]:focus::-ms-fill-lower {
  background: #3071a9;
}
input[type=range]:focus::-ms-fill-upper {
  background: #367ebd;
}

/* Spinner */

@keyframes spinnerRotate {
  100% { transform: rotate(360deg); }
}
@keyframes spinnerDash {
  0%,10% { stroke-dasharray: 1,270; stroke-dashoffset: 0 }
  40% { stroke-dasharray: 89,240; stroke-dashoffset: 0 }
  100% { stroke-dasharray: 1,240; stroke-dashoffset: -110 }
}
@keyframes spinnerColor {
  0%,20%,100% { stroke: #42a5f5 }
  30%,45% { stroke: #f44336 }
  50%,70% { stroke: #fdd835 }
  75%,95% { stroke: #4caf50 }
}
.spinner {
  margin: auto;
  text-align: center;
}
.spinner svg {
  animation: spinnerRotate 1.5s linear infinite;
}
.spinner circle {
  stroke: #42a5f5;
  stroke-width: 4;
  animation: spinnerDash 1.275s ease-in-out infinite, spinnerColor 5.1s linear infinite;
}
.spinner.monochrome circle {
  animation: spinnerDash 1.275s ease-in-out infinite;
  stroke: #ddd;
}

/* Accept button */
.accept_button {
  cursor: pointer;
  font-weight: bold;
  margin: 1.2em 0;
  padding: 1em;
  text-align: center;
  display: block;
  letter-spacing: -1px;
  transition: 0.13s;
  box-shadow: 0 0 9px rgba(255,255,255,0.4)
  font-family: 20px 'Noto Sans','Lucida Grande','Lucida Sans Unicode',Geneva,Verdana,Sans-Serif;
  background: linear-gradient(to bottom,rgba(245,245,245,1) 0%,rgba(240,240,240,1) 100%);
  text-shadow: 0 1px 0 #FFF;
  color: #848484;
  border-radius: 2px;
  border-style: solid;
  border-width: 1px;
  border-color: #e2e2e2;
  width: 100%;
}

.accept_button:hover {
  border-color: #e2e2e2;
  background: rgb(248, 248, 248);
  background: -moz-linear-gradient(top, rgba(248, 248, 248, 1) 0%, rgba(243, 243, 243, 1) 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(248, 248, 248, 1)), color-stop(100%, rgba(243, 243, 243, 1)));
  background: -webkit-linear-gradient(top, rgba(248, 248, 248, 1) 0%, rgba(243, 243, 243, 1) 100%);
  background: -ms-linear-gradient(top, rgba(248, 248, 248, 1) 0%, rgba(243, 243, 243, 1) 100%);
  background: linear-gradient(to bottom, rgba(248, 248, 248, 1) 0%, rgba(243, 243, 243, 1) 100%);
  color: #848484;
}

.accept_button:focus {
  outline:0;
}

.accept_button.active {
  color: #fff;
  text-shadow: 0 1px 0 #000;
  background: #d85000;
  border-color: #b84400;
  box-shadow: 0 3px 4px rgba(0,0,0,0.15) inset;
}

@-webkit-keyframes bluePulse {
  from { background-color: #F7931A; -webkit-box-shadow: 0 0 9px #F7931A; }
  50% { background-color: #F7931A; -webkit-box-shadow: 0 0 28px #F7931A; }
  to { background-color: #F7931A; -webkit-box-shadow: 0 0 9px #F7931A; }
}

.accept_button {
  -webkit-animation-name: bluePulse;
  -webkit-animation-duration: 2s;
  -webkit-animation-iteration-count: infinite;
  font-size: 14px;
}

.accept_button.inactive {

}

/* Clearfix */
.cf:before,
.cf:after {
    content: " ";
    display: table;
}
.cf:after {
    clear: both;
}

/* Cusotm Icon */
.custom-icon {
  font-size: 30px;
  background:#666;
  background:rgba(0,0,0,0.4);
  padding: 20px;
  -webkit-border-radius:1100%;
  -moz-border-radius:100%;
  -o-border-radius:100%;
  border-radius:100%;
  border:6px solid #fff;
  color:#fff;
  box-shadow: 0 1px 10px rgba(0, 0, 0, 0.46);
  text-align:center;
  display:table-cell;
  vertical-align:middle;
  width: 15px;
  height: 15px;
  -moz-transition:.5s;
  -webkit-transition:.5s;
  -o-transition:.5s;
  transition:.5s;
}
.custom-icon:hover {
  background:rgba(0,0,0,0.6);
}
.fix-editor {
  display:none;
}
.icon-wrapper {
  display:inline-block;
}

/* Tooltips */
[data-hint] {
  position: relative;
  display: inline-block;
}
[data-hint]:before,
[data-hint]:after {
  position: absolute;
  will-change: transform;
  visibility: hidden;
  opacity: 0;
  z-index: 900005;
  pointer-events: none;
  transition: 0.2s ease;
  transition-delay: 0ms;
}
[data-hint]:hover:before,
[data-hint]:hover:after {
  visibility: visible;
  opacity: 1;
}
[data-hint]:before {
  content: '';
  position: absolute;
  background: transparent;
  border: 6px solid transparent;
  z-index: 900006;
}
[data-hint]:after {
  content: attr(data-hint);
  background: #404040;
  color: #e0e0e0;
  text-shadow: 0 -1px 0 black;
  padding: 8px 10px;
  line-height: 12px;
  white-space: nowrap;
  border-radius: 2px;
  box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.3);
  letter-spacing: normal;
  font-size: 12px;
  font-weight: normal;
  font-style: inherit;
  font-family: 'Noto Sans','Lucida Grande','Lucida Sans Unicode',Geneva,Verdana,Sans-Serif;
}
.hint--bottom:before,
.hint--bottom-left:before {
  border-bottom-color: #404040;
}
.hint--top:before,
.hint--top-left:before {
  border-top-color: #404040;
}
.hint--bottom:before {
  margin-top: -12px;
}
.hint--bottom:after {
  margin-left: -18px;
}
.hint--bottom:before,
.hint--bottom:after {
  top: 100%;
  left: 50%;
}
.hint--bottom:hover:after,
.hint--bottom:hover:before {
  -webkit-transform: translateY(8px);
  transform: translateY(8px);
}
.hint--top:before {
  margin-bottom: -12px;
}
.hint--top:after {
  margin-left: -18px;
}
.hint--top:before,
.hint--top:after {
  bottom: 100%;
  left: 50%;
}
.hint--top:hover:after,
.hint--top:hover:before {
  -webkit-transform: translateY(-8px);
  transform: translateY(-8px);
}
.hint--top-left:before {
  margin-bottom: -12px;
}
.hint--top-left:after {
  margin-right: -6px;
}
.hint--top-left:before,
.hint--top-left:after {
  bottom: 100%;
  right: 30%;
}
.hint--top-left:hover:after,
.hint--top-left:hover:before {
  -webkit-transform: translateY(-8px);
  transform: translateY(-8px);
}
.hint--bottom-left:before {
  margin-top: -12px;
}
.hint--bottom-left:after {
  margin-right: -6px;
}
.hint--bottom-left:before,
.hint--bottom-left:after {
  top: 100%;
  right: 30%;
}
.hint--bottom-left:hover:after,
.hint--bottom-left:hover:before {
  -webkit-transform: translateY(8px);
  transform: translateY(8px);
}
.hint--left:before {
  margin-right: -12px;
  margin-top: -6px;
}
.hint--left:after {
  margin-right: -14px;
}
.hint--left:before,
.hint--left:after {
  right: 100%;
  bottom: 50%;
}
.hint--left:hover:after,
.hint--left:hover:before {
  -webkit-transform: translateX(-8px);
  transform: translateX(-8px);
}

/* modal_flash */
.z-9000 {
  z-index: 9000;
}

.z-9000 * {
  z-index: 9000;
}

.overlay_flash {
  cursor: pointer;
  overflow-y: auto;
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  overflow: hidden;
}

.modal_cancel {
  align-items: center;
  padding: 20px;
  display: flex;
  min-height: 100%;
  cursor: pointer;
}

.modal_content {
  text-align: center;
  width: 300px;
  cursor: default;
  /*position: relative;*/
  /*margin: 0 auto;
  margin-top: 20px;
  margin-bottom: 20px;*/
  position: absolute;
  left: 45%;
  top: 30%;
  border-radius: 3px;
  background-color: #FDFDFD;
  box-shadow: 0 2px 2px 1px rgba(0, 0, 0, 0.2);
  padding: 40px;

  -webkit-animation: fadein .75s; /* Safari, Chrome and Opera > 12.1 */
  -moz-animation: fadein .75s; /* Firefox < 16 */
  -ms-animation: fadein .75s; /* Internet Explorer */
  -o-animation: fadein .75s; /* Opera < 12.1 */
  animation: fadein .75s;
}

.flash_header {
  cursor: pointer;
  padding-left: 20px;
  padding-right: 20px;
}

.modal__cancel {
  cursor: pointer;
  position: absolute;
  top: 0px;
  right: 0px;
  padding: 10px;
  font-size: 25px;
}

.modal__cancel i:before {
  color: #CCCDC8;
}

.flash_title {
  font-size: 24px;
  padding-bottom: 10px;
  font-style: normal;
  font-weight: normal;
  font-stretch: normal;
}

.flash_title.error {
  color: #FC8276;
}

.flash_title.success {
  color: #9AD25C;
}

.flash_icon i {
  font-size: 80px;
}

.flash_icon .fa-times-circle {
  color: #FC8276;
}

.flash_icon .fa-check-circle {
  color: #9AD25C;
}

.flash_message {
  color: #a8a7a9;
  font-size: 18px;
  max-width: 200px;
  margin: 0 auto;
}

/* FadeIn */
@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Firefox < 16 */
@-moz-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Internet Explorer */
@-ms-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Opera < 12.1 */
@-o-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* FadeOut */
@keyframes fadeout {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Firefox < 16 */
@-moz-keyframes fadeout {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadeout {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Internet Explorer */
@-ms-keyframes fadeout {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Opera < 12.1 */
@-o-keyframes fadeout {
    from { opacity: 0; }
    to   { opacity: 1; }
}
