<div style="width: 100%; background: #F9F9F9; margin-bottom: 50px;">
   <h1 style="color: #555; text-align: center; margin: 15px; font-size: 28px; font-weight: 100; padding: 50px 0;">
   ZeroHouseEdge
   </h1>

   <div style="background: #FFF; width: 50%; margin: 0 auto; padding: 30px; line-height: 1.5; color: #000; font-size: 18px;">
      <h3 style="text-align: center; border-bottom: 1px solid #ccc; color: #000;">Your bet has been accepted</h3>
      <p>Hey {{author_email}}, your bet has been accepted by {{acceptor_email}}. In order for this bet to be on, you must fund it. Please click <a href="{{wager_link}}">here</a> to fund the bet.</p>
   </div>
</div>
