<div style="width: 100%; background: #F9F9F9; margin-bottom: 50px;">
   <h1 style="color: #555; text-align: center; margin: 15px; font-size: 28px; font-weight: 100; padding: 50px 0;">
   ZeroHouseEdge
   </h1>

   <div style="background: #FFF; width: 50%; margin: 0 auto; padding: 30px; line-height: 1.5; color: #000; font-size: 18px;">
      <h3 style="text-align: center; border-bottom: 1px solid #ccc; color: #000;">Your bet has been accepted</h3>
      <p>Hey {{author_email}}, your bet has been accepted by {{acceptor_email}}. In order for this bet to be on, you must fund it. Please click <a href="http://116c0707.ngrok.io/wager/56e18829">here</a> to fund the bet.</p>

      <div style="text-align: center;">
      <a style="padding: 15px; font-size: 15px; cursor: pointer; text-decoration: none; white-space: nowrap; border-color: #e2e2e2; border-width: 1px; border-style: solid; border-radius: 2px; color: #848484; text-shadow: 0 1px 0 #FFF; background: linear-gradient(to bottom,rgba(245,245,245,1) 0%,rgba(240,240,240,1) 100%); font-weight: bold;" href="http://116c0707.ngrok.io/wager/56e18829">
      Fund your wager
      </a>
      </div>
   </div>
</div>
